<!DOCTYPE html>
<html lang="en">
<head>
	<title>Russian Text Simplifier</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="static/css.css" />
</head>
<div class ="logo">
<h4 align ="center">Russian Text Simplifier</h4>
</div>
<div class ="bg">
			<div class="menu">
				<ul class="menu">
					<li><a href='index.html'>Home</a></li>
					<li><a href='source.html'>Source</a></li>
					
				</ul>
			</div>
</div>



<body>

Все исходники можно посмотреть здесь:
<br>


</body>
</html>